{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Tracker <small>Your personal ID is: {{ trackerId }}</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for id, info in data %}
                        {% for k, connexion_data in info %}
                        <tr>                        
                            <td>
                                {{ id }}
                                {% if connexion_data.Tracker.strategy == 'cookie'%}
                                    <br />(cookie ID)
                                {% elseif connexion_data.Tracker.strategy == 'adid'%}
                                    <br />(Ad ID = md5(concatenation of <a href="https://panopticlick.eff.org">https://panopticlick.eff.org</a> listed elements))
                                {% endif %}
                            </td>
                            <td>{{ k }}</td>
                            <td>
                                <ul>
                                    {% for section, values in connexion_data %}
                                    <li>
                                        <span class="foldToggle">
                                            {{ section }} <strong>+</strong> 
                                        </span>
                                        <ul style="display: none">
                                            {% for key, value in values %}
                                            <li>{{ key }}: {{ value }}</li>
                                            {% endfor %}    
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
